@import "http://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
@import url("http://fonts.googleapis.com/css?family=Lato:400,900,400italic|Playfair\+Display:400,400italic&subset=latin,latin-ext")

$size = 16px

body
	font-size $size
	font-family "Lato", sans-serif

h1, h2
	font-size 125%
	font-weight bold
	margin-bottom 16px

hgroup
	margin-bottom 16px

	h1, h2
		margin-bottom 0

h2
	font-size 112.5%

h1

p
	margin-bottom 16px
	line-height 1.4

#content
	width 720px
	margin 0 auto
	padding-top 40px

	h1, h2
		padding-left 208px

	p
		width 512px
		padding-left 208px
		text-align justify
		&.thesis
			width 480px
			padding-left 240px
			font-size ($size * 0.9)
			font-family "Georgia", serif
			line-height 1.5

	.inset
		float left
		padding-top ($size / 4)

		img
			margin-bottom 8px

		blockquote
			font-size 13px
			color #888

img.debug
	width 192px
	height 128px
	background-color #eee
	border-color white