@import "http://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"

body
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif

h1, h2
	font-size: 125%
	font-weight: bold
	margin-bottom: 0

h2
	font-size: 112.5%

p
	margin-top: 16px