doctype 5
html(lang="en")
	head
		title CT5251 | Bastiaan Marinus van de Weerd
		link(rel="stylesheet", type="text/css", href="assets/ct5251.css")
	body
		#wrapper
			h1 CT5251 Assignment
			h2 By Bastiaan Marinus van de Weerd, August 2013
			p
			| &hellip;
	script(type="text/javascript", src="assets/ct5251.js")