doctype 5
html(lang="en")
	head
		meta(charset="utf-8")
		title Style guide | CT5251 Assignment, BM.W
		link(rel="stylesheet", type="text/css", href="../assets/ct5251.css")
		script(type="text/javascript", src="cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js")
	body
		#header
		#content
			h1 CT5251 Assignment
			p
				| Lo&shy;rem ip&shy;sum do&shy;lor sit a&shy;met, con&shy;sec&shy;te&shy;tur a&shy;di&shy;pis&shy;cing e&shy;lit. Do&shy;nec quam lo&shy;rem, pel&shy;len&shy;tes&shy;que et sem non, da&shy;pi&shy;bus ul&shy;lam&shy;cor&shy;per tel&shy;lus. Vi&shy;va&shy;mus id e&shy;ros le&shy;o. Sed sce&shy;le&shy;ris&shy;que, ur&shy;na gra&shy;vi&shy;da ul&shy;tri&shy;ces com&shy;mo&shy;do, la&shy;cus sa&shy;pi&shy;en ia&shy;cu&shy;lis la&shy;cus, e&shy;u vo&shy;lut&shy;pat ip&shy;sum pu&shy;rus nec an&shy;te. Du&shy;is tel&shy;lus di&shy;am, ma&shy;le&shy;su&shy;a&shy;da vi&shy;tae fer&shy;men&shy;tum ut, port&shy;ti&shy;tor id quam.
			p.thesis
				| Pha&shy;sel&shy;lus lao&shy;reet du&shy;i vel mas&shy;sa sa&shy;git&shy;tis pul&shy;vi&shy;nar. Pel&shy;len&shy;tes&shy;que do&shy;lor me&shy;tus, mat&shy;tis quis fe&shy;lis con&shy;sec&shy;te&shy;tur, tin&shy;ci&shy;dunt tris&shy;ti&shy;que sem. Do&shy;nec at au&shy;gue mas&shy;sa. Nul&shy;lam sed ia&shy;cu&shy;lis fe&shy;lis. Pro&shy;in non or&shy;na&shy;re ip&shy;sum. Mor&shy;bi vi&shy;tae pre&shy;ti&shy;um mag&shy;na. Ves&shy;ti&shy;bu&shy;lum lao&shy;reet nec la&shy;cus eu sol&shy;li&shy;ci&shy;tu&shy;din. E&shy;ti&shy;am id por&shy;ta nul&shy;la. Vi&shy;va&shy;mus por&shy;ta nec ve&shy;lit quis con&shy;se&shy;quat.
			.inset
				img.debug
				blockquote.caption
					| This is a caption
			p
				| Ae&shy;ne&shy;an in con&shy;gue mas&shy;sa, vi&shy;tae tin&shy;ci&shy;dunt ve&shy;lit. Quis&shy;que quam lo&shy;rem, so&shy;da&shy;les quis quam non, luc&shy;tus sol&shy;li&shy;ci&shy;tu&shy;din nunc. Sed sce&shy;le&shy;ris&shy;que, ur&shy;na gra&shy;vi&shy;da ul&shy;tri&shy;ces com&shy;mo&shy;do, la&shy;cus sa&shy;pi&shy;en ia&shy;cu&shy;lis la&shy;cus, e&shy;u vo&shy;lut&shy;pat ip&shy;sum pu&shy;rus nec an&shy;te. Pro&shy;in non or&shy;na&shy;re ip&shy;sum. Mor&shy;bi vi&shy;tae pre&shy;ti&shy;um mag&shy;na.
			p
				| E&shy;ti&shy;am id por&shy;ta nul&shy;la. Vi&shy;va&shy;mus por&shy;ta nec ve&shy;lit quis con&shy;se&shy;quat. Lo&shy;rem ip&shy;sum do&shy;lor sit a&shy;met, con&shy;sec&shy;te&shy;tur a&shy;di&shy;pis&shy;cing e&shy;lit. Do&shy;nec quam lo&shy;rem, pel&shy;len&shy;tes&shy;que et sem non, da&shy;pi&shy;bus ul&shy;lam&shy;cor&shy;per tel&shy;lus.
		#footer